.view-mr {
  margin: 1.25rem 0 0;
}

.view-pd {
  padding: 0 1.875rem;
}

.view--counter {
  font-size: 3.25rem;
  line-height: 3.125rem;
  color: var(--link-text);
}

.view--description {
  font-size: 0.875rem;
  font-weight: 400;
}
