@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '~bootstrap/scss/bootstrap';

:root {
  font-size: 1em;
  // ############vars#################
  --border-radios: 4px;
}

body[data-theme='light'] {
  --background: rgb(248, 250, 252);
  --background-footer: rgb(252, 252, 252, 0.9);
  --background-main: #ffffff;
  --text-primary: #181818;
  --text-secondary: #0275b1;
  --border: #f4f4f4;
  --background-sidebar: #fff;
  --link-text: #0275b1;
  --box-shadow: rgba(2, 117, 177, 0.1);
  --button-bg: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  --button-color: #ffffff;
  --button-red: linear-gradient(180deg, #b50015 0%, #950e24 100%);
  --button-red-text-color: #fff;
  --background-message: #0275b1;
  --text-message: #fff;
}

body[data-theme='dark'] {
  --background: #083b55;
  --background-main: #03679c;
  --text-primary: #ffffff;
  --text-secondary: #0275b1;
  --border: #f4f4f4;
  --background-sidebar: #03679c;
  --link-text: #ffffff;
  --box-shadow: rgba(252, 252, 252, 0.1);
  --button-bg: linear-gradient(180deg, #f4f4f4 0%, #d4d4d4 100%);
  --button-color: #0275b1;
  --button-red: linear-gradient(180deg, #b50015 0%, #950e24 100%);
  --button-red-text-color: #fff;
  --background-message: #fff;
  --text-message: #0275b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text-primary);
  transition: all 0.5s ease;
}

.container {
  max-width: 1440px;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
